*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.95rem;
}
@media screen and (max-width: 768px) {
    nav {
      width: 100%;
    }
  }
html{
    box-sizing: border-box;
    background-color: rgba(6, 45, 15, 3%);
    padding: 0.5rem 1rem;
    color: rgb(77, 78, 83);
}

.comentario{
    color: grey;
}
header{
    font-size: 1.5rem;
    font-weight: 800;
    padding: 2rem 0;
}
header, h2,h3{
    color: black;
}
h2{
    padding-left: 1rem;
    font-size: 1.1rem;
}
h3{
    padding-left: 1rem;
}
.number{
    color: #005cc5;
}

.funcion{
    color:#e36209 ;
}

.keyword{
    color: #d73a49;
}
.inline{
    display: flex;
    align-items: baseline;
}

.funcion, .keyword{
    font-weight: 300;
}

pre{
    background-color: rgba(0,0,0,3%);
    padding: 10px;
    margin: 0px 0px 4px;
    border: 1px solid  rgba(188, 180, 180, 0.03);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

code:not(pre code){
    background-color: rgba(0,0,0,3%);
    border: 1px solid  rgba(56, 55, 55, 0.123);
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

code, code span{
    font-size: 0.8rem;
    font-weight: 400;
}


ol{
    margin: 0;
}
li{
    margin-bottom: 10px;
}

p{
    line-height: 1.8; 
}

.bold{
    font-weight: bold;
}
.metodo{
    color: rgb(111, 49, 226);
}


nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0; 
    width: 250px; 
    background-color: #333; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
  
main {
    margin-left: 250px; 
    padding: 20px; 
}
  
 
nav ul {
    list-style: none; 
    padding: 0;
}
  
 
nav ul li {
    padding: 10px;
}

ul:last-of-type{
    list-style: none;
  }

nav ul li a {
    color: white;
    text-decoration: none;
}
  
 
nav ul li:hover {
    background-color: #555;
}
  
nav ul li a:hover {
    color: #25c45d; 
}

nav header{
    color: #25c45d; 
}

a:not(nav a):visited{
    color: #005cc5;
}