*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.95rem;
}
html{
    box-sizing: border-box;
}

.comentario{
    color: grey;
}
header{
    font-size: 1.5rem;
    font-weight: 800;
}

.number{
    color: #005cc5;
}

.funcion{
    color:#e36209 ;
}

.keyword{
    color: #d73a49;
}
.inline{
    display: flex;
    align-items: baseline;
}

.indentado{
    padding-left: 1.5rem;
}

.funcion, .keyword{
    font-weight: 300;
}

